@use "./components/banner";
@use "./components/blog";
@use "./components/brand";
@use "./components/footer";
@use "./components/navbar";
@use "./components/product";
@use "./components/kampaniya";
@use "./components/main";
@use "./components/mobilni";
@use "./components/modal";
@use "./components/search";
@use "./components/about";
@use "./components/catalog";
@use "./components/single";
@use "./components/loading";
@use "./components/contact";
@use "./components/dostavka";
@use "./components/carts";
@use "./components/login";
@use "./components/admin";

.title_all_product {
  color: rgb(69, 69, 69);
  font-family: "Manrope";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: left;
  margin: 20px 0;
}


.not_found{
  display: grid;
  justify-content: center;
  gap: 20px
  ;
  margin-top: 40px;

  img{
    width: 100%;
    object-fit: contain;
  }

  button{
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    background-color: rgb(69, 69, 69);
    color: white;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    width: 200px;
    margin: 0 auto;
  }
}