.search {
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 400px;
}

.modal_serach {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {

    margin: 10px 0;
}

@media screen and (max-width: 990px) {
    .search {
        margin-left: 150px;
    }
}

@media (max-width: 545px) {
    .search {
        margin-left: 0;
    }
}

